{% extends 'gantt_chart/base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="container" style="max-width:600px">
		<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">Edit: {{task}}</h1>
    </div>
  </div>
  <div class="py-5">
    <div class="row">
      <div class="col-12">
        <form method="post" action="{% url 'gantt_chart:edit_task' task.id%}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button name="submit">Save changes</button>
          <input type="hidden" name="next" value="{% url 'gantt_chart:chart' %}" />
        </form>
      </div>
    </div>
  </div>

{% endblock content %}